* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b0f19;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  background: #0b0f19;
}

.logo {
  font-weight: bold;
  color: #4f8cff;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar a {
  color: #ccc;
  text-decoration: none;
  margin-left: 25px;
}

.navbar a:hover {
  color: #4f8cff;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.hero span {
  color: #4f8cff;
}

.hero-img img {
  width: 260px;
  border-radius: 50%;
  border: 4px solid #4f8cff;
}

/* SECTIONS */
section {
  padding: 80px;
}

h2 {
  color: #4f8cff;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.card {
  background: #131a2a;
  padding: 20px;
  border-radius: 12px;
}

.card span {
  display: block;
  margin-top: 10px;
  color: #aaa;
}

/* TIMELINE */
.timeline-item {
  background: #131a2a;
  padding: 20px;
  margin-bottom: 20px;
  border-left: 4px solid #4f8cff;
  border-radius: 8px;
}

/* CONTACT */
.btn {
  display: inline-block;
  background: #4f8cff;
  padding: 15px 30px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  margin-top: 20px;
}

.socials a {
  color: #4f8cff;
  text-decoration: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  color: #777;
}
